*{margin:0px;padding:0px}
a,p,span,li{font-family:"Quicksand","Montserrat";font-weight: 400}
h1,h2,h3,h4,h5,h6{font-family:"Oswald","Quicksand","Montserrat";font-weight: 400}


#header{width:100%;padding:10px;background-color: white !important;margin-bottom:5px;}
#header .navbar-brand{width:15%}
#header .navbar-brand img{width:100%;vertical-align: top;}
#header .collapse.navbar-collapse ul li a{color:#333;padding:10px;width:160px;text-transform: uppercase;text-align:center;font-weight: bold}


.main-issues{background-color: #fff;padding:10px;height:450px;margin-bottom: 10px;}
.main-issues .carousel{width:100;height:420px;}
.main-issues .carousel .banner-overlay-image{width:100%;height:420px;background-size:cover;background-position: center center;background-repeat: no-repeat;}
.main-issues .carousel .banner-overlay-image .banner-overlay{width:inherit;height: inherit;padding:10px;background-color: rgba(0,0,0,0.4);}
.main-issues .carousel .banner-overlay-image .banner-overlay .text-caption{position: absolute;bottom:0px}

.news-item{width:100%;height:200px;}
.news-item .news-item-image{width:100%;height: inherit;background-color: rgba(0,0,0,0.4);}
.article-content{width:100%;padding:10px;background-color:#fff;border:1px solid #ccc}

.article-main-content{width:100%;}
.article-main-content-image{width:100%;height:350px;background-color: rgba(0,0,0,0.4);}

.article-main-story{width:100%;height:15vh;border-bottom:1px dotted #f3f3f3;margin-bottom:5px;padding-bottom: 5px;}
.article-story-image{width:25%;height:inherit;background-color:rgba(0,0,0,0.4);}

.photo-album{width:100%;padding:10px;background-color: #fff;height:72vh}
.image-box{width:23.3%;height:15vh;background-color: rgba(0,0,0,0.4);float:left;margin-left:5px;margin-bottom: 5px;}
.team-members{width:100%;padding:15px;background-color:#4267B2;height:67vh}
.team-members h1{font-family:"Oregano";color:#fff;font-size:4.5em}






























.footer{background-color: #333;padding:100px 30px;}
.footer h5{color:#fff;text-transform: capitalize;}
.footer h6{color:#fff;text-transform: capitalize;}
.footer p{color:#ccc;}
.footer i{color:#fff}
.footer span{color:#ccc;text-align: justify;}
.footer img{width:100%;height:250px;}
.footer .social{float:left;width:22.5%;height:60px;margin-left:5px;text-align:center;padding:15px}
.footer .social.facebook{background-color:#4267B2;}
.footer .social.twitter{background-color:#1da1f2;}
.footer .social.instagram{background-color: #fe9126;}
.footer .social.linkedin{background-color:rgba(214,69,65,1);}
.footer .social i{font-size:2.0em}
.footer ul{list-style:none;}
.footer ul li{display: block;margin-bottom:15px;margin-left:-30px}
.footer ul li a{text-decoration:none;color:#ccc;}
.footer ul li a:hover{color:#fff}
.footer .address-info{width:100%;}/*color:rgba(214,69,65,0.7)*/
.footer .left-item i{font-size:2.0em;color:#fff}
.footer .left-item{float:left;width:20%;background-color:#3e3e3e;height:65px;margin-bottom:5px;padding:15px;text-align:center}
.footer .right-item{float:right;width:77%;margin-right:5px;background-color:#3e3e3e;height:65px;margin-bottom:5px;padding:10px}
.footer .btn{border:none;border-radius: 0px;background-color:#4267B2}
.footer input{border-radius:0px;}
.footer-lower{background-color:#333;padding:30px 0px;width:100%}
.footer-lower .outer{width:100%;border-top:2px solid #fff;padding:5px 0px;border-bottom:2px solid #fff}
.footer-lower .inner{width:100%;border-top:2px solid #fff;padding:15px 0px;border-bottom:2px solid #fff;color:#ccc}
.footer-lower .outer-lower{padding:5px 0px;}
.footer-lower .inner-lower{padding:15px 0px;color:#ccc}
.footer-lower ul{list-style: none;}
.footer-lower li{display: inline-block;margin-left:-30px;margin-right: 30px;}

.footer-lower li img{width:60px;height:40px;}